# Ignore Gradle build directory
stockexchange_springboot/build/

# Ignore Maven build directory
stockexchange_springboot/target/

# Ignore Node modules directory
fakeStock/node_modules/

# Ignore any compiled Java classes
stockexchange_springboot/**/*.class

# Ignore log files
*.log

# Ignore package files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Ignore virtual machine crash logs
hs_err_pid*
replay_pid*

data/kafkazoo
